//Colors//

//primary
$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);

//neutral
$gray-blue: hsl(233, 8%, 62%);
$light-gray-blue: hsl(220, 16%, 96%);
$very-light-gray-blue: hsl(0, 0%, 98%);

//gradient
$gradient: linear-gradient(90deg, $lime-green 0%, $bright-cyan 100%);

//font properties//

//weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

//size
$font-size-regular: 1.2rem;

//////////////////////////
