@import "config";
@import "header-desktop";
@import "cont-desktop";
@import "footer-desktop";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans";
}

body {
  font-size: $font-size-regular;
  font-weight: $font-weight-regular;
}

a {
  text-decoration: none;
  color: $gray-blue;
}

button {
  border: none;
}

.request-invite {
  color: $very-light-gray-blue;
  background: $gradient;
  padding: 15px 25px;
  border-radius: 50px;
  text-align: center;
  max-width: 200px;
  font-size: 1em;
  font-weight: $font-weight-bold;
}

.top-bar,
.bottom-bar {
  background: $very-light-gray-blue;
  width: 100%;
}

.middle-bar {
  background: $light-gray-blue;
  width: 100%;
}

.footer {
  background: $dark-blue;
}

h1 {
  font-size: 5em;
  font-weight: $font-weight-light;
  color: $dark-blue;
}
h2 {
  font-size: 4em;
  font-weight: $font-weight-light;
}
h3 {
  font-size: 2em;
  font-weight: $font-weight-light;
}
h6 {
  font-size: 0.9em;
}

@media (max-width: 375px) {
  body {
    color: red;
  }
}
