* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans";
}

a {
  text-decoration: none;
}

body {
  background: #000;
  .header {
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    #nav-bar {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 20px;
    }
  }
}
